html {
    background: #d8f0d6;
    color: #333;
}


.about{
    text-align: center;
    font-size: 1.6vw;
    margin-top: 9.8vh;
    background-color: #a1dbb2;
    box-shadow: 0 0 0.8vh rgba(0, 0, 0, 0.1);
}

.startup, .now, .goal{
    display: inline-block;
    margin-top: 5.2vh;
    font-size: 1.6vw;
    background-color: #a1dbb2;
    text-align: center;
    box-shadow: 0 0 0.8vh rgba(0, 0, 0, 0.1);
    height: 23vh;
}

.startup{
    margin-left: 21.6vw;
}

.now{
    margin-left: 7.7vw;
}

.goal{
    margin-left: 8.2vw;
}

.keymembers{
    margin-top: 12vh;
    text-align: center;
    font-size: 1.5vw;
    background-color: #a1dbb2;
    box-shadow: 0 0 0.8vh rgba(0, 0, 0, 0.1);
}

.profilepicture1, .profilepicture2{
    display: inline-block;
    text-align: center;
    margin-top: 3vh;

}

.profilepicture1{
    margin-left: 14.2vw;

}

.profilepicture2{
    margin-left: 2vw;



}
