body, html {
    height: 100%;
    align-items: center;
    font-family: 'Arial', sans-serif;
    background-image: url('../images/Ceasar.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.box {
    width: 50%;
    height: 60%;
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 20%;
    left: 25%;
    border-radius: 10px;
    padding: 20px;
}

.box h1 {
    text-align: center;
}

.dish-name, .dish-recipe, .addPic {
    margin-top: 30px;
}

.ingredient {
    position: absolute;
    margin-left: 45%;
    top: 10%;
}

.ingredient, .addIng {
    margin-top: 10px;
}

.addIng {
    margin-bottom: 10px;
}

.ingredient input {
    width: 50%;
}

.food-picture {
    display: none;
    height: 128px;
    width: 128px;
    margin-top: 10px;
    border-radius: 10px;
}

button {
    padding: 8px 10px;
    background-color: #45A049;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
}

button:hover {
    background-color: #367C39;
}

input, textarea {
    padding: 8px;
    margin-right: 5px;
    border: none;
    border-radius: 10px;
    outline: none;
    resize: none;
    width: 25%;
    font-family: 'Arial', sans-serif;
}

.fileButton {
    padding: 8px 10px;
    background-color: #45A049;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    display: inline-block;
}

.fileButton:hover {
    background-color: #367C39;
}