/* Basic reset and box-sizing setup */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Full-page background settings and font */
html {
    width: 100%;
    height: 100vh;
    overflow: auto;
    background: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Arial', sans-serif;
    color: #333;
    
}

body {
    width: 100%;
    height: 100vh;
    overflow: auto;
    background: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Arial', sans-serif;
    color: #333;
}

    form {
        background-color: #d5dfd0;
        position: absolute;
        top: 30%;
        left: 40%;
        transform: translate(-50%, -50%);
        max-width: 500px;
        margin: 50px auto;
        padding: 30px 20px;
        box-shadow: 2px 5px 10px #777;
    }

    body::-webkit-scrollbar {
        width: auto;
    }

   
    .survey-control {
        text-align: left;
        margin-bottom: 25px;
    }
 
    
    .survey-control label {
        display: block;
        margin-bottom: 10px;
    }
 
    
    .survey-control input,
    .survey-control select {
        border: 1px solid #777;
        border-radius: 2px;
        font-family: inherit;
        padding: 10px;
        display: block;
        width: 95%;
    }
 
    .survey-control input[type="checkbox"] {
        display: inline-block;
        width: auto;
    }

    .paragraph-container {
        text-align: left;
        position: absolute;
        top: 60%;
        left:20%;
    }

    .paragraph2-container {
        text-align: left;
        position: absolute;
        top: 90%;
        left: 20%;
    }

    .image-container {
        position: absolute;
        top: 10%;
        right: 10%;
        scale: 75%;
    }

    .image2-container {
        position: absolute;
        top: 20%;
        left: 15%;
        scale: 15%;

    }

    

 
    




