* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(179, 255, 179, 0.9);
    padding: 1.5vh 2vw;
    width: 100%;
    max-width: 100%;
    height: auto;
    font-family: 'Arial', sans-serif;
    border-bottom-left-radius: 1vh;
    border-bottom-right-radius: 1vh;
    top: 0;
    left: 0;
    font-size: 1.5vh;
    box-shadow: 0 0.4vh 0.6vh rgba(0, 0, 0, 0.1);
}

.navbar-logo {
    height: auto;
    width: 3vw;
    min-width: 4vh;
    max-width: 5vh;
    margin-right: 2vw;
}

.navbar-menu {
    display: flex;
    list-style: none;
    padding: 0;
}

.navbar-menu li {
    margin: 0 1.5vw;
}

.navbar-menu a {
    color: black;
    text-decoration: none;
    padding: 1vh 1.5vw;
    border-radius: 0.5vh;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar-menu a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: #007BFF;
}

.navbar-account {
    display: flex;
    align-items: center;
}

.navbar-account span,
.navbar-account a {
    color: black;
    text-decoration: none;
    margin-left: 1.5vw;
    font-size: 1.8vh;
    font-weight: bold;
}

.navbar-account a {
    padding: 1vh 1.5vw;
    border: 0.1vh solid black;
    border-radius: 0.5vh;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar-account a:hover {
    background-color: black;
    color: white;
}
