* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(179, 255, 179, 0.8);
    padding: 0.8vh 2vh;
    width: 100%;
    max-width: 100%;
    height: auto;
    font-family: 'Arial', sans-serif;
    border-bottom-left-radius: 0.1vh;
    border-bottom-right-radius: 0.1vh;
    top: 0;
    left: 0;
    font-size: 1.5vh;

}


.navbar-logo {
    height: auto;
    width: 1.5%;
    max-width: 1.5%;
    position: absolute;
    top: 0.2vh;

}

.navbar-menu {
    display: flex;
    list-style: none;
    padding: 0;

}

.navbar-menu li {
    margin: 0 15px;
}

.navbar-menu a {
    color: black;
    text-decoration: none;
}

.navbar-account a {
    color: black;
    text-decoration: none;
}