body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4; /* Light grey background */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe-header {
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 20px;
    width: 80%;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.recipe-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    margin-top: 20px;
}

.media, .ingredients, .instructions {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin: 10px;
}

.media {
    flex: 2;
}

.ingredients, .instructions {
    flex: 1;
}

h1, h2 {
    color: #333;
}

p, li {
    color: #666;
}

ul, ol {
    list-style-position: inside;
}

.slideshow-container {
    width: 100%;
    max-height: 300px;
    overflow: hidden;
    position: relative;
}

.mySlides img {
    width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .recipe-content {
        flex-direction: column;
    }
}
