html {
    background: #d8f0d6;
    color: #333;
    height: 100%;
    align-items: center;
    font-family: 'Arial', sans-serif;
}

body {
    margin: 0;
    padding: 5vh 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
}

.navbar, .footer {
    width: 100%;
}

.food-selection {
    text-align: center;
    margin-top: 6vh;
    font-weight: bold;
    font-size: 1.2vw;
}

.food-selection li {
    display: inline-block;
    margin-right: 2vw;
    cursor: pointer;
}

.food-selection li:hover {
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.category {
    width: 15vw;
    min-height: 40vh;
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 2vh 2vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.category h1 {
    text-align: center;
    margin-bottom: 10%;
    font-size: 1.2vw;
}

.checkbox-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10%;
    cursor: pointer;
}

.checkbox-container li {
    list-style: none;
    font-size: 1vw;
}

.category input {
    margin-left: 0.8vw;
}

input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    border: 0.1vw solid #333;
    min-width: 1.2vw;
    min-height: 1.2vw;
    border-radius: 0.3vw;
    box-sizing: border-box;
    position: relative;
}

input[type="checkbox"]:checked {
    background-color: #4CAF50;
}

input[type="checkbox"]:checked::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 0.4vw;
    height: 0.9vh;
    border: solid white;
    border-width: 0 0.15vw 0.15vw 0;
}

.recipe-list {
    margin-top: 5vh;
    text-align: center;
    width: 100%;
}

.recipe-list h1 {
    font-size: 2vw;
    margin-bottom: 2vh;
}

.recipe-columns {
    /* display: flex;
    justify-content: space-around;
    width: 100%; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    max-width: 1200px;
    gap: 2vw;
}

.column {
    width: 100%;
}

.recipe-columns .column__header {
    text-transform: capitalize;
}

.column h2 {
    font-size: 1.5vw;
    margin-bottom: 1vh;
}

.column ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    gap: 1vh;
}

.column li {
    font-size: 1.2vw;
}

.column li a {
    text-decoration: none;
    color: #4CAF50;
    transition: color 0.3s ease;
}

.column li a:hover {
    color: #388E3C;
}

.recipe-item {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
}

.recipe-item .recipe-item__img {
    height: 15rem;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.recipe-item .recipe-item__img img {
    position: absolute;
    width: 100%;
    height: auto;
    object-fit: cover;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform .15s ease-in-out;
    scale: 1;
}

.recipe-item:hover .recipe-item__img img {
    transform: translate(-50%, -50%) scale(1.05);
}

.recipe-item .recipe-item__info {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    padding: .25rem .5rem;
}

.recipe-item .recipe-item__title {
    font-size: 1.5rem;
    padding: .75rem .5rem;
    color: black;
}