<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel ="stylesheet" th:href="@{/css/about.css}">
    <title>aboutPage</title>
</head>
<body>
<section class="about">
<b class="about">Minkostplan</b>
</section>

<section class="startup">Minkostplan oprindelse</section>


<section class="now">Minkostplan nu</section>


<section class="goal">Mål for Minkostplan</section>

<section class="keymembers">Nøgle-medlemmer</section>

<section  > <img src="/images/test1.jpg" class="profilepicture1" alt="profile picture description 1" >
    <p>profile picture description 1</p>
</section>
<section  > <img src="/images/test2.jpg" class="profilepicture2" alt="profile picture description 2">
    <p>profile picture description 2</p>
</section>





</body>



</html>