<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel ="stylesheet" th:href="@{/css/about.css}">
    <title>aboutPage</title>
</head>
<body>
<section class="about">
<b class="about">Minkostplan</b>
</section>

<section class="startup">Minkostplan oprindelse</section>


<section class="now">Minkostplan nu</section>


<section class="goal">Mål for Minkostplan</section>

<section class="keymembers">Nøgle-medlemmer</section>

<section class="profilepicture1"> <img src="/images/test1.jpg">
    <p>This is the text right under the picture.</p>
</section>



<section class="profilepicture2"> <img src="/images/test2.jpg">
    <p>This is the text right under the picture.</p>
</section>

</body>



</html>