<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" th:href="@{/css/admin.css}">
</head>


<body>


    <section class="box" id="dishpage">
        <section class="inner-box">
            <h1>Tilføj en ret</h1>
            <form th:action="@{/addrecipe}" th:object="${recipe}" th:method="post">
                <section class="dish-name">
                    <input type="text" th:field="*{name}" placeholder="Skriv navnet på retten..">
                </section>

                <section class="cook-name">
                    <input type="text" th:field="*{cookName}" placeholder="Skriv navnet på kokken..">
                </section>

                <section class="avg-time">
                    <input type="number" th:field="*{averageTime}" placeholder="Gennemsnitstid minutter..">
                </section>

                <section class="dish-recipe">
                    <textarea type="text" th:field="*{instructions}" cols="40" rows="10" placeholder="Fremgangsmåden på opskriften.."></textarea>
                </section>

                <section class="addPic">
                    <input type="file" id="fileInput" accept="image/png, image/jpeg" style="display: none;">
                    <label for="fileInput" class="fileButton">Tilføj billede</label>
                    <img id="previewImage" src="" alt="Preview" class="food-picture">
                </section>

                <section class="dish-type">
                    <select th:field="*{mealType}">
                        <option value="morgenmad">Morgenmad</option>
                        <option value="middagsmad">Middagsmad</option>
                        <option value="aftensmad">Aftensmad</option>
                    </select>
                </section>

                <details class ="ingredient">
                    <summary>Ingredienser</summary>
                    <ul>
                        <li th:each="ingredient : ${ingredients}">
                            <label th:for="${ingredient}" class="ingredient-label">
                                <input type="checkbox" th:id="${ingredient}" th:name="ingredientNames" th:value="${ingredient}">
                                <input type="text" class="quantity-input" name="quantities" th:attr="name='quantities[' + ${ingredient} + ']'" placeholder="Quantity">
                                <span th:text="${ingredient}">Ingredient Name</span>

                            </label>
                        </li>
                    </ul>
                </details>
                <section class="dish-create">
                    <button type="submit">Opret retten</button>
                </section>

            </form>

        </section>
    </section>



    <section class="menu-select">
        <section class="inner-boxmenu">
            <h1>Menu</h1>
            <button class="side-BoxCreateDish">Opret ret</button>

            <button class="side-BoxCreateIngredient"  onclick="window.location.href='/adminingredient';">Opret ingredient </button>

            <button class="side-BoxAllDishes" onclick="window.location.href='/adminrecipes';" >Alle retter</button>

            <button class="side-BoxAllIngredient" onclick="window.location.href='/adminingredients';" >Alle ingredienser</button>

        </section>

    </section>

    <section th:replace="navbar.html"></section>

    <script th:src="@{/javascript/adminPage.js}"></script>

</body>
</html>