<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" th:href="@{/css/editprofilepage.css}">
    <link rel="stylesheet" th:href="@{/css/error.css}">
</head>
<body>
<div th:replace="navbar.html"></div>

<div class="background">
    <div class="profile-container">
        <header class="header">
                <a href="/profile" class="a-navbar" th:classappend="${#authentication.name != 'anonymousUser'} ? 'logged-in'">
                    <span th:text="'Hej, ' + ${T(minkostplan.application.usecase.UserUtil).getCurrentUserFirstName()}"></span>
                </a>
        </header>
        <main class="profile-content">
            <form th:action="@{/editprofile}" th:method="post">
                <section class="account-details grid-container">
                    <div class="left-box">
                        <div class="form-group">
                            <label for="fornavn">Fornavn:</label>
                            <input type="text" id="fornavn" name="fornavn" pattern="[A-Za-z]+" th:field="${User.firstName}">
                        </div>
                        <div class="form-group">
                            <label for="efternavn">Efternavn:</label>
                            <input type="text" id="efternavn" name="efternavn" pattern="[A-Za-z]+" th:field="${User.lastName}">
                        </div>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" id="email" name="email"  th:field="${User.email}">
                            <div th:if="${errorMessage}" class = "error-message-editemail" role="alert">
                                <p th:text="${errorMessage}"></p>
                            </div>
                        </div>
                    </div>
                    <div class="middle-box">
                        <div class="form-group">
                            <label for="alder">Alder:</label>
                            <input type="number" id="alder" name="alder" th:field="${User.age}" min="0" max="130">
                        </div>
                        <div class="form-group">
                            <label for="højde">Højde:</label>
                            <input type="number" id="højde" name="højde" th:field="${User.height}" min="20" max="300">
                        </div>
                        <div class="form-group">
                            <label for="vægt">Vægt:</label>
                            <input type="number" id="vægt" name="vægt" th:field="${User.weight}" min="0" max="300">
                        </div>
                    </div>
                    <div class="right-box">
                        <div class="form-group">
                            <label for="mål">Mål:</label>
                            <select id="mål" name="mål" th:field="${User.goal}">
                                <option value="Lose weight" >Tabe sig</option>
                                <option value="Gain weight">Tage på</option>
                                <option value="Maintain weight">Oprethold vægt</option>
                                <option value="Build muscle">Byg muskel</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="gender">Køn:</label>
                            <select id="gender" name="gender" th:field="${User.gender}">
                                <option value="Male">Mand</option>
                                <option value="Female">Kvinde</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="activitylabel" for="aktivitet">Aktivitet:</label>
                            <select id="aktivitet" name="aktivitet" th:field="${User.activityLevel}">
                                <option value="1-2 gange om ugen">1-2 gange om ugen</option>
                                <option value="3-5 gange om ugen">3-5 gange om ugen</option>
                                <option value="6-7 gange om ugen">6-7 gange om ugen</option>
                                <option value="1-2 gange om dagen">1-2 gange om dagen</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-actions">
                        <button type="submit" class="btn-change">Gem</button>
                    </div>
                </section>
            </form>
        </main>
    </div>
</div>
</body>
</html>
