<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
</head>
<body>
    <footer class="footer">
        <section class="copyright">
            <p> Copyright@ 2024 Minkostplan</p>
        </section>
        <section class="message-section">
            <p>Billig, hurtig og overskuelig kostplan til hverdagen</p>
        </section>
        <section class="contactinfo-section">
            <p class="contactinfo-text">📍Farimagsvej 45, 4700 Næstved</p>
            <p class="contactinfo-text"> 📧kontakt@minkostplan.com</p>
        </section>
    </footer>
</body>
</html>
