<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/homepage.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <script src="/javascript/survey.js" defer></script>
</head>
<body>

<!--Container for the leak image-->
<section>
    <img src="images\leak.png" class="leak-bar">
</section>

<!--Form for the survey and its controls-->
<form id="surveyForm" method="post" th:action="@{/survey}" >
    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>

    <div class="survey-step" id="step1">
        <label>What is your goal?</label>
        <div>
            <input type="radio" id="lose weight" name="goal" value="Lose weight" checked />
            <label for="lose weight">Lose weight</label>
        </div>
        <div>
            <input type="radio" id="gain weight" name="goal" value="Gain weight" checked />
            <label for="gain weight">Gain weight</label>
        </div>
        <div>
            <input type="radio" id="build muscle" name="goal" value="Build muscle" checked />
            <label for="build muscle">Build muscle</label>
        </div>
        <div>
            <input type="radio" id="keep current weight" name="goal" value="Maintain weight" checked/>
            <label for="keep current weight">Keep current weight</label>
        </div>

        <button type="button" onclick="nextStep(1)">Next</button>
    </div>

    <div class="survey-step" id="step2" style="display:none;">
        <label>First Name:</label>
        <input type="text" id="firstName" name="firstName" required>

        <label>Last Name:</label>
        <input type="text" id="lastName" name="lastName" required>

        <button type="button" onclick="nextStep(2)">Next</button>
    </div>

    <div class="survey-step" id="step3" style="display:none;">
        <label>Age:</label>
        <input type="number" id="age" name="age" required>

        <label>Height (cm)</label>
        <input type="number" id="height" name="height" required>

        <label>Weight (kg)</label>
        <input type="number" id="weight" name="weight" required>

        <button type="button" onclick="nextStep(3)">Next</button>
    </div>

    <div class="survey-step" id="step4" style="display:none">
        <label>Køn:</label>
        <select name="gender" required>
            <option value="Male">Mand</option>
            <option value="Female">Kvinde</option>
        </select>
        <button type="button" onclick="nextStep(4)">Next</button>
    </div>

    <div class="survey.step" id="step5" style="display: none;">
        <label>Hvor ofte er du aktiv?</label>
        <div>
            <input type="radio" id="none" name="activityLevel" value="none or very little exercise" checked />
            <label for="none">Ingen eller meget lidt aktivitet</label>
        </div>
        <div>
            <input type="radio" id="1-2" name="activityLevel" value="1-2 times a week" checked />
            <label for="1-2">1-2 gange om ugen</label>
        </div>
        <div>
            <input type="radio" id="3-5" name="activityLevel" value="3-5 times a week" checked />
            <label for="3-5">3-5 gange om ugen</label>
        </div>
        <div>
            <input type="radio" id="6-7" name="activityLevel" value="6-7 times a week" checked/>
            <label for="6-7">6-7 gange om ugen</label>
        </div>
        <div>
            <input type="radio" id="1-2 daily" name="activityLevel" value="1-2 times a day" checked/>
            <label for="1-2 daily">1-2 gange om dagen</label>
        </div>
        <button type="button" onclick="nextStep(5)">Next</button>
    </div>

    <div class="survey.step" id="step6" style="display: none;">
        <label>E-mail:</label>
        <input type="email" id="email" name="email" required>

        <label>Password:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Sign up</button>
    </div>
</form>

<div class="paragraph-container">
    <h2>Den billige løsning til at opnå din drømmekrop</h2><br>
    <p>Minkostplan.com giver dig skræddersyede kostplaner, som du kender dem.<br> Bare langt billigere.<br>

        Hver uge giver vi dig 21 nye opskrifter fordelt på dagens tre måltider.<br>

        Alle opskrifter er skræddersyet efter dine mål og ønsker for at opnå den krop, du drømmer om.<br>

        Alt sammen til kun DKK 49,00 om ugen (DKK 196,00 pr. måned)</p>
</div>

<section >
    <img alt="italian pasta salad" src="images\italian-pasta-salad.jpg" class="image-container">
</section>

<section>
    <div class="paragraph2-container">
        <h2>Hvordan fungerer det?</h2><br>
        <p>Hos Minkostplan.com skal du blot udfylde formularen øverst på siden, og så er du i gang.<br> Du modtager din regulerede kostplan lige efter, vi har modtaget din ordre.<br>

            Den indeholder 21 opskrifter. 7 til morgen, 7 til frokost og 7 til aften. <br>Ugen efter vil du på samme ugedag modtage 21 nye opskrifter.<br>
            Opskrifterne vil aldrig være de samme, men de vil altid være skræddersyet efter dine mål.<br>

            Alle opskrifter har en udførlig guide med både indhold og fremgangsmåde. Minkostplan har en måneds binding.</p>
    </div>
    <section >
        <img alt="father with children" src="images\fatherwithchildren.jpg" class="image2-container">
    </section>

</section>

<div th:replace="navbar.html"></div>
<div th:replace="footer.html"></div>

</body>
</html>