<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Account Details</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="icon" href="../static/CatLogo.jpg" type="image/jpeg">
</head>
<body>
    <div class="container">
        <h1>Account Details</h1>
        <form action="/accountDetails" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <br>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>