<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nav</title>
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
</head>
<body>
<nav class="navbar">
    <div>
        <a href="home">
            <img src="images/minkostplan-logo.png" class="navbar-logo" alt="Minkostplan Logo" />
        </a>
    </div>

    <ul class="navbar-menu">
        <li><a href="home">Hjem</a></li>
        <li><a href="recipelist">Opskrifter</a></li>
        <li><a href="about">Om os</a></li>
        <li><a href="admindish">Admin</a></li>
    </ul>

    <div class="navbar-account">
        <a href="/profile" class="a-navbar" th:classappend="${#authentication.name != 'anonymousUser'} ? 'logged-in'">
            <span th:if="${#authentication.name != 'anonymousUser'}" th:text="'Hej, ' + ${T(minkostplan.application.usecase.UserUtil).getCurrentUserFirstName()}"></span>
        </a>
        <a th:if="${#authentication.name == 'anonymousUser'}" href="login" class="login">Login</a>
    </div>
</nav>
</body>
</html>
