<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${recipe.name}">Recipe Page</title>
    <link rel="stylesheet" th:href="@{/css/recipe.css}">
</head>
<body>
    <div class="recipe-header">
        <h1 th:text="${recipe.name}">Opskrift Navn</h1>
        <p th:text="'Kok: ' + ${recipe.cookName}">Kok: Navn</p>
        <p th:text="'Gennemsnits tid: ' + ${recipe.averageTime} + ' mins'">Gennemsnitlig tid: XX minutter</p>
    </div>
    <div class="recipe-content">
        <div class="media">
            <img th:src="@{/images/test1.jpg}" alt="Opskrift billede">
        </div>
        <div class="details">
            <div class="ingredients">
                <h2>Ingredienser</h2>
                <ul>
                    <li th:each="ingredient : ${recipe.ingredients}" th:text="${ingredient.quantity + ' ' + ingredient.ingredientName}">Ingrediens</li>
                </ul>
            </div>
            <div class="instructions">
                <h2>Trin for trin guide</h2>
                <ol>
                    <li th:each="step : ${recipe.instructions}" th:text="${step}">Trin</li>
                </ol>
            </div>
        </div>
    </div>
</body>
</html>
