<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe List</title>
    <link rel="stylesheet" th:href="@{/css/userrecipe.css}">
</head>
<body>
    <section class="navbar" th:replace="~{navbar.html}"></section>
    <section class="recipe-list">
        <h1>Opskrifter</h1>
        <div class="recipe-columns">
            <div class="column" th:each="mealType : ${ {'morgenmad', 'frokost', 'aftensmad'} }">
                <h2 class="column__header" th:text="${mealType}"></h2>
                <ul>
                    <li th:each="recipe : ${recipes}" th:if="${recipe.mealType == mealType}">
                        <a th:href="@{'/recipe/' + ${recipe.recipe_id}}" class="recipe-item">
                            <div class="recipe-item__img">
                                <img th:src="'/images/recipes/recipeid' + ${recipe.recipe_id} + '.png'" alt="recipe image">
                            </div>
                            <div class="recipe-item__info">
                                <label th:text="${recipe.cookName}"></label>
                                <label th:text="${recipe.averageTime} + ' ' + min"></label>
                            </div>
                            <div class="recipe-item__title">
                                <label th:text="${recipe.name}"></label>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="footer" th:replace="~{footer.html}"></section>
</body>
</html>
